.card{
    padding: 30px;
    background-color: #212121;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .card{
        padding: 10px;
        background-color: #212121;
        border-radius: 10px;
        margin: 5px;
        text-align: center;
        font-size: 0.7em;
    }
}