.flexRow{
    display: flex;
    justify-content: space-around;
    margin: 40px 0px;
    text-align: center;
}
.kanban{
    display: flex;
    align-items: flex-start;
}
.kanban__section {
    width: 400px;
    background-color: #383838;
    padding: 10px;
    border-radius: 10px;
    min-height: 500px;
}
.kanban__section__title {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 10px 0 20px;
}
.kanban__section__content {
    margin-top: 10px;
}
     
@media screen and (max-width: 768px) {
    .flexRow{
        display: flex;
        justify-content: space-around;
        margin: 20px 0px;
        text-align: center;
    }
    .kanban{
        display: flex;
    }
    .kanban__section {
        width: 130px;
        background-color: #383838;
        padding: 5px;
        border-radius: 10px;
        min-height: 430px;
    }
    .kanban__section__title {
        font-size: 0.8rem;
        font-weight: 700;
        margin: 10px 0;
    }
    .kanban__section__content {
        margin-top: 4px;
    }
}